*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

textarea {
  resize: vertical;
}

button {
  color: inherit;
  background-color: transparent;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

button,
select,
option,
a {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Regular.woff2") format("woff2"), url("../fonts/Causten-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Medium.woff2") format("woff2"), url("../fonts/Causten-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Light.woff2") format("woff2"), url("../fonts/Causten-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Bold.woff2") format("woff2"), url("../fonts/Causten-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-SemiBold.woff2") format("woff2"), url("../fonts/Causten-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Core Sans C";
  src: url("../fonts/CoreSansC-45Regular.woff2") format("woff2"), url("../fonts/CoreSansC-45Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Core Sans C";
  src: url("../fonts/CoreSansC-55Medium.woff2") format("woff2"), url("../fonts/CoreSansC-55Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Core Sans C";
  src: url("../fonts/CoreSansC-65Bold.woff2") format("woff2"), url("../fonts/CoreSansC-65Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Core Sans C";
  src: url("../fonts/CoreSansC-75ExtraBold.woff2") format("woff2"), url("../fonts/CoreSansC-75ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Core Sans C";
  src: url("../fonts/CoreSansC-85Heavy.woff2") format("woff2"), url("../fonts/CoreSansC-85Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "icons";
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.title-section {
  font-family: "Core Sans C", sans-serif;
}

[class*=" _icon-"]::before {
  font-family: "icons" !important;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-settings:before {
  content: "\e900";
}

._icon-trash:before {
  content: "\e901";
}

._icon-truck:before {
  content: "\e902";
}

._icon-t-shirt:before {
  content: "\e903";
}

._icon-twtr:before {
  content: "\e904";
}

._icon-user:before {
  content: "\e905";
}

._icon-star-fill:before {
  content: "\e906";
}

._icon-star-half:before {
  content: "\e907";
}

._icon-star-empty:before {
  content: "\e908";
}

._icon-lock:before {
  content: "\e909";
}

._icon-arrow-down:before {
  content: "\e90a";
}

._icon-arrow-left:before {
  content: "\e90b";
}

._icon-arrow-right:before {
  content: "\e90c";
}

._icon-arrow-up:before {
  content: "\e90d";
}

._icon-cart:before {
  content: "\e90e";
}

._icon-checkbox:before {
  content: "\e90f";
}

._icon-chevron-down:before {
  content: "\e910";
}

._icon-chevron-left:before {
  content: "\e911";
}

._icon-chevron-right:before {
  content: "\e912";
}

._icon-chevron-up:before {
  content: "\e913";
}

._icon-credit-card:before {
  content: "\e914";
}

._icon-eye-hide:before {
  content: "\e915";
}

._icon-eye-see:before {
  content: "\e916";
}

._icon-fb:before {
  content: "\e917";
}

._icon-heart:before {
  content: "\e918";
}

._icon-Icon-Stroke:before {
  content: "\e919";
}

._icon-exit:before {
  content: "\e91a";
}

._icon-eye:before {
  content: "\e91b";
}

._icon-cross:before {
  content: "\e91c";
}

._icon-inst:before {
  content: "\e91d";
}

._icon-linkedin:before {
  content: "\e91e";
}

._icon-message:before {
  content: "\e91f";
}

._icon-play:before {
  content: "\e920";
}

._icon-play-circle:before {
  content: "\e921";
}

._icon-returns:before {
  content: "\e922";
}

._icon-search:before {
  content: "\e923";
}

.title-section {
  color: #3c4242;
  font-weight: 600;
  letter-spacing: 0.02em;
  display: flex;
  align-items: flex-start;
  column-gap: 0.5882352941em;
  text-transform: capitalize;
  line-height: 1.1;
}
@media (min-width: 78.125em) {
  .title-section {
    font-size: 2.125rem;
  }
}
@media (min-width: 20em) and (max-width: 78.125em) {
  @supports (font-size: clamp( 1.5rem , 1.2849462366rem  +  1.0752688172vw , 2.125rem )) {
    .title-section {
      font-size: clamp( 1.5rem , 1.2849462366rem  +  1.0752688172vw , 2.125rem );
    }
  }
  @supports not (font-size: clamp( 1.5rem , 1.2849462366rem  +  1.0752688172vw , 2.125rem )) {
    .title-section {
      font-size: calc(1.5rem + 0.625 * (100vw - 20rem) / 58.125);
    }
  }
}
@media (max-width: 20em) {
  .title-section {
    font-size: 1.5rem;
  }
}
.title-section::before {
  content: "";
  border-radius: 10px;
  background-color: #8a33fd;
  flex: 0 0 0.1764705882em;
  width: 0.1764705882em;
  height: 0.8823529412em;
  margin-top: 0.0882352941em;
}

.item-preview {
  width: 282px;
  margin-bottom: 50px;
  display: grid;
  gap: 1.875rem;
}
.item-preview__picture-link {
  display: block;
  overflow: hidden;
  border-radius: 12px;
}
@media (any-hover: hover) {
  .item-preview__picture-link:hover .item-preview__image {
    transform: scale(1.02);
  }
}
.item-preview__image {
  aspect-ratio: 282/370;
  object-fit: cover;
  width: 100%;
  transition: transform 0.2s;
}
.item-preview--category .item-preview__image {
  aspect-ratio: 270/393;
}
.item-preview__body {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.3125rem;
}
.item-preview__title {
  color: #3c4242;
  font-weight: 600;
}
.item-preview--category .item-preview__title {
  font-weight: 700;
  color: #2a2f2f;
  font-size: 1.125rem;
  letter-spacing: -0.0446875rem;
}
.item-preview__title-link {
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration-color 0.2s;
}
@media (any-hover: hover) {
  .item-preview__title-link:hover {
    text-decoration-color: inherit;
  }
}
.item-preview__label {
  font-size: 0.875rem;
  font-weight: 500;
  grid-row: 2;
}
.item-preview__arrow-link, .item-preview__price {
  grid-row: span 2;
}
.item-preview__arrow-link {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  transition: color 0.2s;
}
@media (any-hover: hover) {
  .item-preview__arrow-link:hover {
    color: #2a2f2f;
  }
}
.item-preview__price {
  color: #3c4242;
  background-color: #f6f6f6;
  border-radius: 0.5rem;
  font-weight: 700;
  font-size: 0.875rem;
  padding: 0.625rem 1.25rem;
  align-self: center;
}

body {
  font-family: "Causten", sans-serif;
  color: #807d7e;
}

[class*=__container] {
  max-width: 1250px;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.wrapper {
  overflow: clip;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.page {
  flex-grow: 1;
}