.title-section {
  color: $darkGrayColor;
  @extend %CSC;
  @include adaptiveValue("font-size", 34, 24);
  font-weight: 600;
  letter-spacing: toEm(0.68, 34);
  display: flex;
  align-items: flex-start;
  column-gap: toEm(20, 34);
  text-transform: capitalize;
  line-height: 1.1;
  &::before {
    content: "";
    border-radius: 10px;
    background-color: $purpleColor;
    flex: 0 0 toEm(6, 34);
    width: toEm(6, 34);
    height: toEm(30, 34);
    margin-top: toEm(3, 34);
  }
}
.item-preview {
  display: grid;
  position: relative;
  gap: toRem(30);
  &__picture-link {
    display: block;
    overflow: hidden;
    border-radius: 12px;
    @media (any-hover: hover) {
      &:hover .item-preview__image {
        transform: scale(1.02);
      }
    }
  }
  &__favorite {
    position: absolute;
    top: toRem(27);
    right: toRem(21);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
    height: toRem(32);
    width: toRem(32);
    transition: all 0.3s;
    @media (any-hover: hover) {
      &:hover {
        background-color: $purpleColor;
        &::before {
          color: #fff;
        }
      }
    }
    z-index: 2;
  }
  &__image {
    aspect-ratio: 282/370;
    .item-preview--category & {
      aspect-ratio: 270/393;
    }
    object-fit: cover;
    width: 100%;
    transition: transform 0.3s;
  }

  &__body {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: toRem(5) toRem(35);
  }

  &__title {
    color: $darkGrayColor;
    font-weight: 600;
    min-width: 0;

    .item-preview--category & {
      font-weight: 700;
      color: $blackColor;
      font-size: toRem(18);
      letter-spacing: toRem(-0.715);
    }
  }

  &__title-link {
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: text-decoration-color 0.3s;
    text-wrap: nowrap;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    @media (any-hover: hover) {
      &:hover {
        text-decoration-color: inherit;
      }
    }
  }

  &__label {
    font-size: toRem(14);
    font-weight: 500;
    grid-row: 2;
  }
  &__arrow-link,
  &__price {
    grid-row: span 2;
  }
  &__arrow-link {
    display: flex;
    align-items: center;
    font-size: toRem(18);
    transition: color 0.3s;
    @media (any-hover: hover) {
      &:hover {
        color: $blackColor;
      }
    }
  }

  &__price {
    color: $darkGrayColor;
    background-color: $lightColor;
    border-radius: toRem(8);
    font-weight: 700;
    font-size: toRem(14);
    padding: toRem(10) toRem(20);
    align-self: center;
  }
}

.common {
  &__buttons {
    padding: toRem(50);
    display: inline-grid;
    gap: toRem(20);
  }
}
.button {
  padding: toRem(16) toRem(20);
  border-radius: toRem(8);
  background-color: $purpleColor;
  color: #fff;
  font-size: toRem(18);
  font-weight: 500;
  transition: all 0.3s;
  @media (any-hover: hover) {
    &:hover {
      background-color: #6620c1;
      box-shadow: 0 toRem(3) toRem(4) 0 rgba(0, 0, 0, 0.1);
    }
  }
  &:focus {
    background-color: #6620c1;
    box-shadow: none;
  }
  &:disabled {
    background-color: #eaeaea;
    color: #807d7e;
    box-shadow: none;
  }
  &--white {
    color: $darkGrayColor;
    background-color: #ffffff;
    @media (any-hover: hover) {
      &:hover {
        background-color: $blackColor;
        color: #fff;
      }
    }
    &:focus {
      background-color: $blackColor;
      color: #fff;
    }
    &:disabled {
      color: #807d7e;
      box-shadow: none;
    }
  }
  &--border {
    border: toRem(1) solid #3c4242;
    color: $purpleColor;
    background-color: #fff;
    @media (any-hover: hover) {
      &:hover {
        background-color: #faf8fd;
        box-shadow: none;
      }
    }
    &:focus {
      border: 1px solid $purpleColor;
      background-color: #faf8fd;
    }
    &:disabled {
      background-color: #eaeaea;
      color: #807d7e;
      box-shadow: none;
    }
  }
  &--text {
    color: $purpleColor;
    background-color: transparent;
    @media (any-hover: hover) {
      &:hover {
        background-color: rgba(102, 32, 193, 0.03);
      }
    }
    &:focus {
      background-color: rgba(102, 32, 193, 0.03);
    }
    &:disabled {
      color: #807d7e;
      box-shadow: none;
    }
  }

  &--text-shadow {
    color: $purpleColor;
    background-color: transparent;
    box-shadow: 0 toRem(3) toRem(4) 0 rgba(0, 0, 0, 0.1);
    @media (any-hover: hover) {
      &:hover {
        background-color: rgba(102, 32, 193, 0.03);
      }
    }
    &:focus {
      background-color: rgba(102, 32, 193, 0.03);
    }
    &:disabled {
      background-color: #eaeaea;
      color: #807d7e;
      box-shadow: none;
    }
  }
}
