*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  display: inline-block;
}
a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  line-height: 1;
  height: 100%;
}
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background-color: transparent;
}
input,
textarea {
  width: 100%;
}
textarea {
  resize: vertical;
}
button {
  color: inherit;
  background-color: transparent;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
button,
select,
option,
a {
  cursor: pointer;
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.splide__arrow {
  align-items: start;
  background: none;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  height: auto;
  opacity: 1;
  padding: 0;
  position: static;
  top: 0;
  transform: none;
  width: auto;
  z-index: 1;
}
.splide__pagination {
  bottom: 0;
  left: 0;
  padding: 0;
  position: static;
  z-index: 1;
  align-items: start;
  display: block;
  flex-wrap: nowrap;
  justify-content: stretch;
  margin: 0;
}

.splide__pagination-page {
  background: none;
  border: 0;
  border-radius: 0;
  display: inline-block;
  height: auto;
  margin: 0;
  opacity: 1;
  padding: 0;
  position: static;
  transition: none;
  width: auto;
}
