@use "sass:math";

@import "_reset.scss";
@import "_fonts.scss";
@import "_icons.scss";
@import "_functions.scss";

$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1220;
$containerPadding: 30;
$containerWidth: $maxWidthContainer + $containerPadding;

$purpleColor: #8a33fd;
$lightColor: #f6f6f6;
$defaultTextColor: #807d7e;
$darkGrayColor: #3c4242;
$blackColor: #2a2f2f;

@import "_common.scss";
@import "_header.scss";
@import "_footer.scss";
@import "_home.scss";
body {
  font-family: "Causten", sans-serif;
  color: $defaultTextColor;
  &.menu-open {
    overflow: hidden;
  }
}

[class*="__container"] {
  max-width: #{$containerWidth}px;
  margin: 0 auto;
  padding-left: toRem(15);
  padding-right: toRem(15);
}

.wrapper {
  overflow: clip;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  @media (max-width: toEm(540)) {
    padding-bottom: toRem(74);
  }
}

.page {
  flex-grow: 1;

  &__hero {
    @include adaptiveValue("margin-bottom", 130, 40);
  }
  &__deals,
  &__new,
  &__saving,
  &__products {
    @include adaptiveValue("margin-bottom", 100, 30);
  }
}
